<body>
<main>
  <div class='branch' style="margin: 2px;
  border: double;color:FF0000;">
    <b>id: <%=branch.id %> <br />
    <b>address: <%=branch.address %> <br />
    <b>active: <%=branch.active %>
    </div>
	</main>
 </body>