<div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#contact" onclick="contact()">צור קשר</a></li>
    <li><a href="#userManage" onclick="usertable()">משתמשים</a></li>
    <li><a href="#catalog" onclick="catalog()">קטלוג פרחים</a></li>
    <li><a href="#about" onclick="about()">אודות החברה</a></li>
  </ul>

  <ul class="nav navbar-nav navbar-left">
    <li>
      <a href="#logout" onclick="logout()"
        ><span class="glyphicon glyphicon-log-out"></span> יציאה</a
      >
    </li>
  </ul>
</div>
