<div id="content">
    <div class="container-fluid text-center">
      <div class="row content">
        <div class="col-sm-3 sidenav"></div>
        <div class="col-sm-8 text-right">
          <h1>אודות החברה</h1>
          <p>
              הוקמה בשנת 2005 ומספקת את כל שירותי הפרחים, משזירה אישית ועד עיצוב
              אירועים מיוחדים בחברתנו דוגלים במקצוענות, עבודה נקייה, טריות הפרחים,
              יחס אישי וחם בדגש על עיצוב ייחודי ומרענן. בחברתנו עובדים אנשים בעלי
              ניסיון רב שנים בתחום הפרחים ואהבה אדירה למקצוע
          </p>

          <hr />

          <p>חברת ברניקה בעלת ניסיון רב שנים בטיפוח פרחים וגידולם בצורה הטובה
              ביותר, ואתם מוזמנים להנות מאיכות השירות והפרחים היפים</P
           
          </p>
        </div>
      </div>
    </div>
  </div>
