<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>

  <body onload="load()"
    style="background: linear-gradient(to bottom, #ffffff 0%, #ffcccc 100%);"
  >
    <% include partials/header %> <%include partials/login%>
    <div id="content">
      <div class="container-fluid text-center">
        <div class="row content">
          <div class="col-sm-3 sidenav"></div>
          <div class="col-sm-8 text-right">
            <h1>אודות החברה</h1>
                      <p>
              הוקמה בשנת 2005 ומספקת את כל שירותי הפרחים, משזירה אישית ועד עיצוב
              אירועים מיוחדים בחברתנו דוגלים במקצוענות, עבודה נקייה, טריות הפרחים,
              יחס אישי וחם בדגש על עיצוב ייחודי ומרענן. בחברתנו עובדים אנשים בעלי
              ניסיון רב שנים בתחום הפרחים ואהבה אדירה למקצוע
          </p>

            <hr />

            <p>
              בחברתנו דוגלים במקצוענות, עבודה נקייה, טריות .הפרחים, יחס אישי וחם
              בדגש על עיצוב ייחודי ומרענן בחברתנו עובדים אנשים בעלי ניסיון רב
              שנים בתחום הפרחים ואהבה אדירה למקצוע.
            </p>
          </div>
        </div>
      </div>
    </div>
    <footer class="container-fluid text-center">
      <p>
        כל הזכויות שמורות
        <span
          style="font-size:16px"
          class="glyphicon glyphicon-copyright-mark"
        ></span>
      </p>
    </footer>
  </body>
</html>
